.label {
    background-color: rgb(122 122 122);
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 12px;
    font-weight: bold;
    color: rgb(255 255 255);
}
