.wrapper-select {
    position: relative;
    display: flex;
    max-width: 400px;
    width: 100%;

    .select {
        padding-right: 20px;
        font-weight: 500;
        color: #5a5f70;
        border-radius: 4px;
        font-size: 14px;
        width: 100%;
        padding: 8px;
        outline: none;
        border: none;
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: 0% 100%;
        box-shadow: inset 0 0 0 1px rgb(17 43 134 / 10%);
        transition: box-shadow 150ms ease-in, background-image 150ms ease-in,
            background-size 150ms ease-in, background-color 150ms ease-in;
        &:focus {
            background-image: linear-gradient(
                to top,
                #07c,
                #07c 2px,
                transparent 2px,
                transparent 100%
            );
            background-size: 100% 100%;
            outline: none;
        }
    }
    &:focus {
        outline: none;
        border: none;
    }

    .select-arrow {
        z-index: -1;
        position: absolute;
        right: 0;
        bottom: 0;
        display: block;
        padding: 0;
        padding-right: 5px;
        padding-bottom: 3px;
        svg {
            fill: #5a5f70;
            background-color: #fbfcfd;
            height: 12px;
            margin-bottom: 1px;
        }
    }
}
