@mixin colors-button-dark {
    --my-color-button-normal: var(--color-private-black-500);
    --my-color-button-normal-hover: var(--color-private-blue-700);

    --my-color-button-accent: var(--color-private-blue-500);
    --my-color-button-accent-text: var(--color-private-blue-500);
    --my-color-button-accent-outline: var(--color-private-blue-300);
    --my-color-button-accent-bg-hover: var(--color-private-blue-450-solid);

    --my-color-button-primary: var(--color-private-blue-550);
    --my-color-button-primary-bg-hover: var(--color-private-blue-100);

    --my-color-button-success: var(--color-private-green-450-solid);

    --my-color-button-error: var(--color-private-red-550);

    --my-color-button-light: var(--color-private-blue-300);
    --my-color-button-selection: var(--color-private-blue-150);
    --my-color-button-selection-hover: var(--color-private-blue-300);
    --my-color-button-link: var(--color-private-blue-700);
    --my-color-button-link-hover: var(--color-private-blue-850);
    --my-color-button-text: var(--color-private-blue-700);
    --my-color-button-text-contrast: var(--color-text-light-primary);
    --my-color-button-link-visited: var(--color-private-purple-700);
    --my-color-button-link-visited-hover: var(--color-private-purple-8-my);
}
